


  
<div class="px-d flex items-center justify-center w-full py-d typeform">
  <div data-tf-live="01J403H8KCSDFWDKEDACM73361"></div><script src="//embed.typeform.com/next/embed.js"></script>
</div>

<style>
  .typeform div {
    width: 100%
  }

  .top-progress__Positioner-sc-1gvyvuh-0 {
    display: none !important
  }
</style>
  

  {% schema %}
    {
      "name": "Typeform",
      "settings": [
        {
          "type": "text",
          "id": "feature_heading",
          "label": "Heading Text",
          "default": "Your Feature Heading"
        },
        {
          "type": "checkbox",
          "id": "justify_text",
          "label": "Justify Text"
        }
      ],
      "presets": [
        {
          "name": "Typeform"
        }
      ]
    }
    {% endschema %}